<div class="analytics" style="font-size: 80%">
    <script suppress-error="BL9992"
            async src="https://www.googletagmanager.com/gtag/js?id=UA-108101550-1"></script>
    <script suppress-error="BL9992">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-108101550-1');
    </script>
</div>

@code {

}
