<div class="announcement error">
    <p><strong>迁移说明</strong></p>
    <p>博客 (https://blog.walterlv.com) 刚刚完成静态博客到 Web 服务的迁移，你可能在阅读的过程中会遇到各种各样的意外。欢迎加我 QQ(450711383) 或<a href="mailto:walter.lv@qq.com">发送邮件</a>随时与我联系 (walter.lv@qq.com) 以便及时修复这些错误。</p>
</div>