@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/search" target="_blank">搜索</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <footer>
        <Analytics />
        <Copyright />
    </footer>
</div>

