@using Walterlv.Blog.Data
@inject PostGenerator PostGenerator
@inject PostStaticRedirector Static

@if (title == null)
{
    <p><em>正在下载页面...</em></p>
}
else
{
    <article class="post-content">
        <h1>@title</h1>
        <TimeMetadata PublishTime="@metadata.PublishTime" UpdateTime="@metadata.UpdateTime" />
        @postContent
        <p>欢迎阅读我的博客，请点击 <a href="https://blog.walterlv.com/feed.xml">RSS 订阅</a>，或者<a href="https://walterlv.blog.csdn.net/">前往 CSDN 关注我的主页</a>。</p>
        <PostLicense></PostLicense>
    </article>
}

<PostComment></PostComment>

@code {
    [Parameter]
    public string MarkdownUrl { get; set; }

    private string title;

    private Walterlv.Blog.Post metadata;

    private MarkupString postContent;

    protected override void OnInitialized()
    {
        var page = PostGenerator.Get(MarkdownUrl);
        title = page.Title;
        metadata = page;
        postContent = new MarkupString(page.Content);
    }
}
