<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">walterlv</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/friends">朋友</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/feed.xml">RSS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">关于</a>
            </li>
        </ul>
    </div>
    @*<div class="justify-content-end navbar-dark col-xs-12 col-md-4 offset-md-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Go</button>
            </div>
        </div>
    </div>*@
</nav>
