<div class="comments-header"><strong>基于 GitHub Issues 评论（需要登录你的 GitHub 账号）</strong></div>
<section class="comments">
    <script suppress-error="BL9992"
            src="https://utteranc.es/client.js"
            repo="walterlv/BlogComments"
            issue-term="pathname"
            theme="github-dark"
            crossorigin="anonymous"
            async>
    </script>
</section>

@code {

}
