@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #232323;
    color: #e3e3e3;
}

a, .btn-link {
    color: #22A6F2;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

pre {
    border: 1px solid #454545;
}

    pre code {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #abb2bf;
        background: #282c34;
    }

hr {
    border-top-color: #666;
}

div.announcement {
    color: white;
    background-color: #1570A6;
    border-style: solid;
    border-width: 1px;
    margin: 2rem auto;
    padding: 1.2rem 1.2rem 0;
    max-width: 62rem;
}

div.error {
    background-color: #BD4A3D;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tag {
    background-color: #424245;
    padding: 2px 6px 2px 8px;
    margin: 1rem 2rem 1rem 0;
    border-radius: 4px;
    color: #aaa;
    font-size: 0.75rem;
}

time.tag {
    background-color: #424245;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #1570A6;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background: #323232;
}

    .sidebar .top-row {
        background-color: #1570A6;
        box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 -1px 0 rgba(0,0,0,.1) inset;
    }

    .sidebar img.avatar-logo {
        width: 100%;
    }

    .sidebar svg {
        width: 28px;
        height: 28px;
        fill: white;
        margin: 0 14px;
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        font-weight: 800;
    }

    .sidebar .site-info {
        margin-top: 1rem;
        margin-bottom: 0;
    }

        .sidebar .site-info .site-info-header {
            font-size: 1.5rem;
            font-weight: 100;
        }

        .sidebar .site-info p {
            line-height: 2rem;
            margin-top: 0;
            margin-bottom: 0;
            color: #99CCEE;
        }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: #1570A6;
                color: white;
            }

.post-list ul {
    margin: 2rem 0 1rem 0;
    padding: 0;
    list-style-type: none;
}

        .post-list ul li {
            padding: 2rem 1rem 1rem;
            border-bottom: 1px solid #333;
        }

            .post-list ul li:hover {
                background-color: #323232;
            }

            .post-list ul li a {
                text-decoration: none;
            }

.post-list a {
    color: #999;
}

    .post-list a h3 {
        color: white;
        font-size: 1.5rem;
        font-weight: 300;
    }

.post-content h1 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 300;
    margin: 3rem 0 1rem;
}

    .post-content h2, h3, h4, h5 {
        color: white;
    }

    .post-content h2 {
        font-size: 1.6rem;
        margin: 2rem 0 0.5rem 0;
    }

    .post-content h3 {
        font-size: 1.4rem;
        margin: 1.5rem 0 0.5rem 0;
    }

    .post-content img {
        max-width: 100%;
        display: block;
        cursor: pointer;
        transition: .3s;
    }

    .post-content pre .hljs-addition, .hljs-deletion {
        margin: 0 -0.5rem;
        padding: 0 0 0 0.5rem;
        width: 300%;
        display: inline-block;
    }

    .post-content pre .hljs-deletion {
        background-color: #640000;
        color: unset;
    }

    .post-content pre .hljs-addition {
        background-color: #006400;
        color: white;
    }

.content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 0;
}

.content strong {
    color: white;
}

section.comments .utterances {
    margin: 0;
}

footer {
    padding-bottom: 2rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

.post-content, section.comments, .comments-header, footer {
    max-width: 60rem;
    margin: 0 auto;
}

.post-list {
    max-width: 62rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 280px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .content {
        padding-top: 1.1rem;
        padding: unset;
    }
}

@media (prefers-color-scheme: dark) {

}
