@page "/"
@namespace Walterlv.Blog.Pages
@using DevExpress.Blazor.DocumentMetadata
@inject Walterlv.Blog.Data.PostStaticRedirector Static
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @(await Html.RenderComponentAsync<DocumentMetadataComponent>(RenderMode.ServerPrerendered))
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="walterlv" />
    <base href="~/" />
    <link rel="stylesheet" href="@Static.Host/css/bootstrap/bootstrap.min.css" />
    <link href="/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Static.Host/css/highlight.js/styles/atom-one-dark.css">
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            网页发生了错误，建议重新【刷新】网页。
        </environment>
        <environment include="Development">
            发生了未处理的异常，请通过浏览器的开发者工具查看更多细节。
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">刷新</a>
        <a class="dismiss">🗙</a>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1264408226'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264408226%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
