@page "/about"
@inject SiteAnalytics Analytics

<div>
    <MarkdownPage MarkdownUrl="about" />
</div>

@code {
    protected override void OnInitialized()
    {
        Analytics.Record($"/about");
    }
}
