@page "/about"
@inject SiteAnalytics Analytics
@inject IDocumentMetadataService Metadata

<div>
    <Announcement></Announcement>
    <MarkdownPage MarkdownUrl="about" />
</div>

@code {
    protected override void OnInitialized()
    {
        Analytics.Handle("/about", "关于");
        Metadata.Update(x => x.Title($"关于吕毅 - walterlv"));
    }
}
