@page "/friends"
@inject SiteAnalytics Analytics
@inject IDocumentMetadataService Metadata

<div>
    <Announcement></Announcement>
    <MarkdownPage MarkdownUrl="friends" />
</div>

@code {
    protected override void OnInitialized()
    {
        Analytics.Handle("/about", "朋友与收藏");
        Metadata.Update(x => x.Title($"朋友与收藏 - walterlv"));
    }
}
