@page "/"

@using Walterlv.Blog.Data
@inject PostService PostService

@if (postBriefList == null)
{
    <p><em>正在下载博客列表...</em></p>
}
else
{
    <div class="post-list">
        <ul>
            @foreach (var postBrief in postBriefList)
            {
                <li>
                    <a href="@($"/post/{@postBrief.Id}.html")">
                        <h3>@postBrief.Title</h3>
                        <div>@postBrief.UpdateTime</div>
                        <div>@postBrief.Summary</div>
                    </a>
                </li>
            }
        </ul>
    </div>
}

@code {
    private PostBrief[] postBriefList;

    protected override async Task OnInitializedAsync()
    {
        postBriefList = await PostService.GetPostBriefListAsync(0);
    }
}
