@page "/"
@page "/blog/{pageNumber}"

@using System.Net
@using System.Net.Http
@using Walterlv.Blog.Data
@inject HttpClient Http
@inject PostService PostService

@if (postBriefList == null)
{
    <p><em>正在下载博客列表...</em></p>
}
else
{
    <div class="post-list">
        <ul>
            @foreach (var postBrief in postBriefList)
            {
                <li>
                    <a href="@($"/post/{@postBrief.Id}")">
                        <h3>@postBrief.Title</h3>
                        <div>@postBrief.UpdateTime</div>
                        <div>@postBrief.Summary</div>
                    </a>
                </li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public string pageNumber { get; set; }

    private PostBrief[] postBriefList;

    protected override async Task OnInitializedAsync()
    {
        var number = 0;
        if (pageNumber != null)
        {
            var value = pageNumber.StartsWith("page", StringComparison.OrdinalIgnoreCase)
                ? pageNumber.Substring(4)
                : "";
            int.TryParse(value, out var result);
            number = result - 1;
        }

        try
        {
            postBriefList = await Http.GetJsonAsync<PostBrief[]>($"https://localhost:4431/blog/page{number}");
        }
        catch (HttpRequestException)
        {
        }
    }
}
