@page "/post/{pagePath}"

@using System.Net
@using System.Net.Http
@using Walterlv.Blog.Data
@inject PostGenerator PostGenerator
@inject PostStaticRedirector Static
@inject SiteAnalytics Analytics

@if (title == null)
{
    <p><em>正在下载博客...</em></p>
}
else
{
    <Announcement></Announcement>

    <article class="post-content">
        <h1>@title</h1>
        <TimeMetadata PublishTime="@metadata.PublishTime" UpdateTime="@metadata.UpdateTime" />
        @postContent
        <p>本文会经常更新，请阅读原文：<a href="https://blog.walterlv.com/post/@metadata.Id">https://blog.walterlv.com/post/@metadata.Id</a>，以避免陈旧错误知识的误导，同时有更好的阅读体验。</p>
        <p>如果你想持续阅读我的最新博客，请点击 <a href="https://blog.walterlv.com/feed.xml">RSS 订阅</a>，或者<a href="https://walterlv.blog.csdn.net/">前往 CSDN 关注我的主页</a>。</p>
        <PostLicense></PostLicense>

    </article>
}

<PostComment></PostComment>

@code {
    [Parameter]
    public string pagePath { get; set; }

    private string title;

    private Walterlv.Blog.Post metadata;

    private MarkupString postContent;

    protected override void OnInitialized()
    {
        string pageId = pagePath.EndsWith(".html", StringComparison.OrdinalIgnoreCase)
            ? pagePath.Substring(0, pagePath.Length - 5)
            : pagePath;
        try
        {
            var post = PostGenerator.Get(pageId);
            title = post.Title;
            metadata = post;
            postContent = new MarkupString(post.Content);
        }
        finally
        {
            Analytics.Handle($"/post/{pageId}", title);
        }
    }
}
