@page "/post/{pageId}"

@using System.Net
@using System.Net.Http
@inject HttpClient Http

@if (title == null)
{
    <p><em>正在下载博客...</em></p>
}
else
{
    <article class="post-content">
        <h1>@title</h1>
        @postContent
    </article>
}

@code {
    [Parameter]
    public string pageId { get; set; }

    private string title;

    private MarkupString postContent;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var post = await Http.GetJsonAsync<Walterlv.Blog.Post>($"https://localhost:4431/post/{pageId}");
            title = post.Title;
            postContent = new MarkupString(post.Content);
        }
        catch (HttpRequestException)
        {
        }
    }
}
